.jumbotron {
  text-align: center;
  background-color: #C5E2DF;
}

img {
  border-radius: 10px;
}
.portland {
  float: right;
  text-align: right;
  margin: 0px;
  padding: 0px;

}
.portland img {
  width: 50%;
  margin: 0px;
  padding: 0px;
}
h3 {
  font-size: 30px;
}
#span {
  text-align: center;
}
h2 {
  font-size: 40px;
}
.container {
  background-color: #F3DADA;
}
blockquote {
  padding: 20px;
}
