.jumbotron {
  text-align: center;
  background-color: #F3DADA;
}

.jumbotron img {
  border-radius: 10px;
  height: 300px;
  width: auto;
}
.portland {
  float: right;
  text-align: right;
  margin: 0px;
  padding: 0px;

}
.portland img {
  width: 50%;
  margin-left: -300px;

}
h3 {
  font-size: 30px;
}
#span {
  text-align: center;
}
h2 {
  font-size: 40px;
}
.container {
  background-color: #BE7193;
}
blockquote {
  font-size: 15px;
  padding: 20px;
}
.about {
  text-align: center;
  font-size: 20px;
}
.panel {
  padding: 10px;
}
